@model Product
<div class="col-md-3">
            <div class="card">
                  <img src="/img/@(Model.ItemId).jpg"  class="card-img-top img-thumbnail"/>
                    <div class="card-body">
                          <div class="card-title display-4">@Model.ProductName
                        <h4>
                            <a asp-action="detail" asp-controller="Home" asp-route-itemid="@Model.ItemId">
                            
                                جزییات محصول
                                
                                </a>
                        </h4>
                          </div>
                        
                        <br>
                       
                    </div>
            </div>
 </div>