<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row">
    <div class="col-md-3">
        <div class="panel panel-info">
        
        <div class="panel-heading">
            تماس با ما  
        </div>
<div  class="panel-body">
    <h2>
        ارتباط با ما

    </h2>
    <h3>تلفن دفتر مرکزی:021
        -7734333</h3>
    <h3>تلفن مشهد:051
        -7664646</h3>
</div>
</div>
    </div>
    
    <div class="col-md-9">
<div class="jumbotron">
<h2>به فروشگاه زیتون خوش آمدید!</h2>
<p class="shadow-sm">می توانید از طریق شماره تماسها و ایمیل با ما در تماس باشین</p>
<hr class="text-nowrap">
<p>  فروشگاه زیتون در نظر دارد به عنوان برترین فروشگاه اینترنتی لحظات خوبی را با شما بگذراند</p>
<p class="lead">
 <a class="btn btn-primary btn-lg" href="#" role="button">اطلاعات بیشتر</a>
</p>
</div>
</div>
</div>
<div></div>
    </div>
    
</body>
</html>