@model order
@{
    ViewData["title"]="سبدخرید";
}
@if(Model!=null)
{
<table class="table table-striped" >
<tr>
<thead class="thead-dark">
    <th>کالا</th>
    <th>تعداد</th>
    <th>قیمت</th>
    <th></th>
</thead>
</tr>
<tbody>
@foreach (var item in Model.OrderDetails)
{
    <tr>
        <td>@item.product.ProductName</td>
        <td>@item.Count</td>
        <td>@(item.Price * item.Count )</td>
        <td>
            <a asp-action="Removecart" asp-controller="Home" asp-route-detailID=@item.detailID>
                حذف
            </a>
        </td>
    </tr>  
}

</tbody>
</table>
<h5>جمع کل:@Model.OrderDetails.Sum(s=>s.Count * s.Price)</h5>

}
else
{
<div class="alert alert-danger">
    فاکتوری نیست

</div>



}